{
    "extends": "airbnb",
    "plugins": ["jest"],
    "parser": "babel-eslint",
    "env": {
        "jest/globals": true,
        "browser": true
    },
    "rules": {
        "no-unused-vars": ["error", {"argsIgnorePattern":"next"}],
        "react/prop-types": [0],
        "import/no-extraneous-dependencies": ["error", { "devDependencies": true}],
        "react/jsx-one-expression-per-line": "off"
    }
}